/.idea
University/S5_PROB-ESTAT-APLI/A1/*.html
University/S5_PROB-ESTAT-APLI/A2/*.html
University/S5_PROB-ESTAT-APLI/A3/*.html
University/S5_PROB-ESTAT-APLI/A4/*.html
University/S5_PROB-ESTAT-APLI/A5/*.html
University/S5_PROB-ESTAT-APLI/A6/*.html
University/S5_PROB-ESTAT-APLI/A7/*.html
University/S5_PROB-ESTAT-APLI/A8/*.html
/venv
/.venv
.vscode/