University/S4/JOG_DIG/A3/Venv
University/S4/JOG_DIG/A4/venv
venv/
.idea/
University/S5/PROB_ESTAT_APLI/A1/*.html
University/S5/PROB_ESTAT_APLI/A2/*.html
University/S5/PROB_ESTAT_APLI/A3/*.html
University/S5/PROB_ESTAT_APLI/A4/*.html
University/S5/PROB_ESTAT_APLI/A5/*.html
University/S5/PROB_ESTAT_APLI/A6/*.html
University/S5/PROB_ESTAT_APLI/A7/*.html
University/S5/PROB_ESTAT_APLI/A8/*.html
.Rproj.user
